.trophy-card {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 16px;
  width: 50%;
  text-align: center;
  /* overflow-wrap : wrap; */
  transition: transform 0.2s ease;
  overflow-wrap: break-word;
  display: block;
}

.title-logo{
  text-align: center;
}
.title-logo a{
  width: 100%;
  border: none;
  text-align: center;
}

.all-head{
    text-align: center;
    margin: 30px 0;
}
.all-menu{
    padding-bottom: 30px;
    display: flex;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
}
back-to-home

.trophy-list {
    /* display: flex; */
    /* flex-wrap: wrap; */
    gap: 16px;
    justify-content: center;
    padding: 20px;
  }
  
  .cate-del{
    display: flex;
    width:50%;
    margin: 0 auto;
    justify-content: center;
  }
  .cate-del p{
    border:#ccc solid 1px;
    margin-right: 5px;
  }
  .trophy-card:hover {
    transform: translateY(-5px);
  }
  
  .trophy-card h3 {
    margin: 0;
    font-size: 1.2em;
  }
  
  .trophy-card p {
    color: #555;
    margin-bottom: 8px;
    display: inline;
  }
  
  .search-input {
    display: block;
    padding: 8px;
    width: 80%;
    min-width: 200px;
    max-width: 300px;
    border-radius: 8px;
    border: 1px solid #ccc;
  }
  
  .back-to-home {
    color: aquamarine;
    display: block;
    width: 120px;
    height: 50px;
    line-height: 50px;
    padding: 0px;
    margin: 20px auto;
    text-align: center;
    font-size: 1.2em;
    text-decoration: none;
    margin-top: 0;
    border: solid 2px aquamarine;
    margin-bottom: 30px;
    font-weight: normal;
  }

  .back-to-home:hover{
    color:#000000;
    background-color: aquamarine;
  }
  
  .trophy-title{
    padding: 10px 0;
  }

  .trophy-episod{
    padding-bottom: 10px;
    margin-bottom: 10px;
  }

  .cate-del{
    padding-top: 10px;
    margin: 10px auto;
  }

  a{
    border: none;
  }
  .edit-button {
    text-align: center;
    font-size:18px;
    width: 80px;
    height: 30px;
    line-height: 30px;
    padding: 0;
    border: 2px solid aquamarine;
    text-align: center;
    color:aquamarine;
    margin-right: 5px;
    margin-left: 0;
  }

  .edit-button:hover{
    border: none;
    background-color: aquamarine;
    color: black;
  }

  .del-button{
    font-size:18px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0);
    /* font-size: 20px; */
    width: 80px;
    height: 33px;
    line-height: 33px;
    padding: 0;
    border: 2px solid rgb(255, 132, 50);
    text-align: center;
    color:rgb(255, 132, 50);
    margin-left: 5px;
  }
  
  .del-button:hover{
    border: none;
    background-color: rgb(255, 132, 50);
    color: black;
    transition: 0.5s;
  }

  .cata-del{
    margin: 10px auto;
  }

  .page_top_btn{
    width: 30px;
    height: 30px;
    border: solid 1px aqua;
    line-height: 30px;
  }

  .page_top_btn:hover{
    background-color: aqua;
    color:#000000;
  }

  .good-button{
    color: white;
  }

.all-menu select {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 7px;
  padding: 5px 10px;
  font-size: 12px;
  color: black;
}

.no-hover{
  width: 80%;
  padding: 0;
}

.no-hover:hover {

  background-color: inherit !important; /* 色を変更しない */
  
}

.select-section{
  width:25%;
}

.search-input{
  width: 40%;
}