.good-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 20px;
    transition: transform 0.2s ease, color 0.2s ease;
    color: #999;
  }
  
  .good-button:hover {
    transform: scale(1.2);
    color: #ff9900;
  }
  
  .good-button.liked {
    color: #ffcc00; /* 押されたときの色 */
  }
  .good-button:active {
    transform: scale(0.95);
  }